[submodule "cmake_common"]
	path = modorganizer/build/modorganizer_super/cmake_common
	url = https://github.com/ModOrganizer2/cmake_common.git
	branch = master
[submodule "uibase"]
	path = modorganizer/build/modorganizer_super/uibase
	url = https://github.com/ModOrganizer2/modorganizer-uibase.git
	branch = master
[submodule "archive"]
	path = modorganizer/build/modorganizer_super/archive
	url = https://github.com/ModOrganizer2/modorganizer-archive.git
	branch = master
[submodule "game_gamebryo"]
	path = modorganizer/build/modorganizer_super/game_gamebryo
	url = https://github.com/ModOrganizer2/modorganizer-game_gamebryo.git
	branch = master
[submodule "nxmhandler"]
	path = modorganizer/build/modorganizer_super/nxmhandler
	url = https://github.com/ModOrganizer2/modorganizer-nxmhandler.git
	branch = master
[submodule "helper"]
	path = modorganizer/build/modorganizer_super/helper
	url = https://github.com/ModOrganizer2/modorganizer-helper.git
	branch = master
[submodule "esptk"]
	path = modorganizer/build/modorganizer_super/esptk
	url = https://github.com/ModOrganizer2/modorganizer-esptk.git
	branch = master
[submodule "githubpp"]
	path = modorganizer/build/modorganizer_super/githubpp
	url = https://github.com/ModOrganizer2/githubpp.git
	branch = master
[submodule "lootcli"]
	path = modorganizer/build/modorganizer_super/lootcli
	url = https://github.com/ModOrganizer2/modorganizer-lootcli.git
	branch = master
[submodule "preview_bsa"]
	path = modorganizer/build/modorganizer_super/preview_bsa
	url = https://github.com/ModOrganizer2/modorganizer-preview_bsa.git
	branch = master
[submodule "bsatk"]
	path = modorganizer/build/modorganizer_super/bsatk
	url = https://github.com/ModOrganizer2/modorganizer-bsatk.git
	branch = master
[submodule "bsapacker"]
	path = modorganizer/build/modorganizer_super/bsapacker
	url = https://github.com/ModOrganizer2/modorganizer-bsapacker.git
	branch = master
[submodule "game_skyrim"]
	path = modorganizer/build/modorganizer_super/game_skyrim
	url = https://github.com/ModOrganizer2/modorganizer-game_skyrim.git
	branch = master
[submodule "game_skyrimse"]
	path = modorganizer/build/modorganizer_super/game_skyrimse
	url = https://github.com/ModOrganizer2/modorganizer-game_skyrimse.git
	branch = master
[submodule "game_nehrim"]
	path = modorganizer/build/modorganizer_super/game_nehrim
	url = https://github.com/ModOrganizer2/modorganizer-game_nehrim.git
	branch = master
[submodule "game_fallout3"]
	path = modorganizer/build/modorganizer_super/game_fallout3
	url = https://github.com/ModOrganizer2/modorganizer-game_fallout3.git
	branch = master
[submodule "game_enderal"]
	path = modorganizer/build/modorganizer_super/game_enderal
	url = https://github.com/ModOrganizer2/modorganizer-game_enderal.git
	branch = master
[submodule "game_oblivion"]
	path = modorganizer/build/modorganizer_super/game_oblivion
	url = https://github.com/ModOrganizer2/modorganizer-game_oblivion.git
	branch = master
[submodule "game_skyrimvr"]
	path = modorganizer/build/modorganizer_super/game_skyrimvr
	url = https://github.com/ModOrganizer2/modorganizer-game_skyrimvr.git
	branch = master
[submodule "game_falloutnv"]
	path = modorganizer/build/modorganizer_super/game_falloutnv
	url = https://github.com/ModOrganizer2/modorganizer-game_falloutnv.git
	branch = master
